@import "./utilities.css";
:root {
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #F2F2F2;
    --secondary: #070606;
}

body {
    font-family: 'Poppins', 'Segoe UI';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smootthing: antialiased;
}

header {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav {
    padding: 2rem 0;
}

header nav.branding {
    margin-right: 5rem;
}

header nav .left a:hover {
    color: var(--pure);
    color: var(--primary);
}

.hero {
    padding: 3rem 0;
}

.hero.left img {
    widows: 400px;
}

.hero.right {
    color: var(--pure);
}

.hero.right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: .5rem;
}

.hero.right h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 100;
    line-height: 1.2;
}

.hero.right h1 span {
    color: var(--primary);
}

.hero.right p {
    margin-bottom: 2rem;
}

.hero.right {
    margin-top: -7rem;
}

section {
    padding: 7rem 0;
}

section.about h1 {
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

section.about h1 span {
    color: var(--primary);
}

section.about h3 {
    font-size: 1rem;
    margin-bottom: 3rem;
    font-weight: 400;
}

section.about p {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: var(--ternary);
    line-height: 1.9;
}

section.about .container .social {
    display: flex;
}

section.about .container .social a {
    background: var(--dark);
    display: flex;
    align-content: center;
    justify-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    margin-top: 3rem;
}

.section-heading {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 2rem;
    line-height: 0.5;
}

.section-heading+p {
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

.section-heading span {
    color: var(--primary);
}